<li class="{{this.styleClasses}} {{this.expandedClasses}} {{this.leafClasses}}">
  <span>

    {{this.label}}
    {{#if this.hasIcon}}
      <EmTreeNodeIconContainer
        @iconName={{this.iconName}}
        @iconClass={{this.iconClass}}
        {{on 'click' this.toggle}}
      />
    {{else}}
      <a {{on 'click' this.toggle}} href="" class="text">*</a>
    {{/if}}
  </span>

  {{#if this.tree.in-multi-selection}}
    <span class="em-tree-node-multiselection">
      {{#if this.multiSelected}}
        <EmTreeNodeIconContainer
          @iconName={{this.tree.selected-icon}}
          {{on 'click' this.toggleSelection}}
        />
      {{else}}
        <EmTreeNodeIconContainer
          @iconName={{this.tree.unselected-icon}}
          {{on 'click' this.toggleSelection}}
        />
      {{/if}}
    </span>
  {{/if}}

  <span {{on 'click' this.select}} role="button" class="{{this.nodeSelectedClasses}} title">
    {{#if this.model.nodeIcon}}
      {{svg-jar this.model.nodeIcon class="em-tree-icon" width="24px"}}
    {{/if}}
    <span>{{this.model.title}}</span>
    {{#if this.tree.hovered-actions}}
      <span class="actions">
        {{#each this.hoveredActions as |hoveredAction|}}
          <EmTreeNodeIconAction @meta={{hoveredAction}} @parentView={{this}} @model={{this.model}} />
        {{/each}}
      </span>
    {{/if}}
  </span>

  {{#if this.expanded}}
    <EmTreeBranch @model={{this.model}} @tree={{this.tree}} @async={{this._async}} @target={{this.target}} @children={{this.requestChildren}} />
  {{/if}}
</li>
